theme_*
src/animated/wait*
src/animated/progress*
src/animated/meta.hl
src/animated/metadata.json
plasma_themes/src/build_tools/build
plasma_themes/src/build_tools/build_white
plasma_themes/src/build_tools/build_black
plasma_themes/src/build_tools/build_mono
plasma_themes/src/build_tools/build_mono_black
plasma_themes/posys_cursor_scalable/cursors
plasma_themes/posys_cursor_scalable_black/cursors
plasma_themes/posys_cursor_scalable_mono/cursors
plasma_themes/posys_cursor_scalable_mono_black/cursors
*.tar.gz
result